/* reset from original theme */
* {
    color: #fff;
    background-color: #0a0a0a;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    padding: 30px 20px 50px;
}

header h1 a {
    display: block;
}

header img {
    border-radius: 20px;
    margin: 10px auto;
}

main {
    padding: 50px 20px;
    border: solid 1px #484848;
    border-left: none;
    border-right: none;
}

footer {
    padding: 20px;
}

h1 {
    font-size: 26px;
}

h1 a {
    color: #fff;
}

p {
    color: #c7c7c7;
    margin-bottom: 1rem;
}

a {
    color: #D3E97A;
    text-decoration: none;
}

/* navbar */
.navbar-container {
    width: 100%;
    height: 76px;
}

nav {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.navbar-container h2 {
    font-size: 16px;
    height: 16px;
    line-height: 16px;
}

.navbar-container a {
    color: #fff;
}

.navbar-container ul {
    display: flex;
    justify-content: space-between;
}

.navbar-container ul li {
    list-style: none;
    margin: 0 2rem;
}

/* content section */
.content-text {
    text-indent: 20px;
}