---
---

/* reset from original theme */
* {
    box-sizing: border-box;
    font-family: Helvetica;
    padding: 0;
    margin: 0;
}

html, body {
    background-color: #0a0a0a;
}

header {
    padding: 30px 20px 50px;
}

header h1 a {
    display: block;
}

header img {
    border-radius: 20px;
    margin: 10px auto;
}

section {
    padding: 50px 20px;
    margin: 0px;
    border: solid 1px #484848;
    border-left: none;
    border-right: none;
}

footer {
    padding: 20px;
}

h1, 
h2, 
h3,
h1 a,
h2 a,
h3 a {
    color: #fff;
    margin-top: 20px;
}

h1 {
    font-size: 26px;
}

p {
    color: #c7c7c7;
    margin-bottom: 10px;
}

a {
    color: #D3E97A;
    text-decoration: none;
}

/* navbar */
.navbar-container {
    width: 100%;
    height: 76px;
}

nav {
    position: relative;
}

.navbar-container h2 {
    font-size: 16px;
    height: 16px;
    line-height: 16px;
}

/* content section */
.content-text {
    text-indent: 20px;
}