/* reset from original theme */
* {
    color: #fff;
    background-color: #0a0a0a;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}

.wrapper {
    padding: 0 20px;
}

a {
    color: #D3E97A;
    text-decoration: none;
    transition: 0.5ms;
}

a:hover {
    font-weight: bold;
}

h1 {
    font-size: 26px;
    padding: 1rem 0;
}

p {
    color: #c7c7c7;
    margin-bottom: 1rem;
}

header {
    padding: 30px 0;
    position: sticky;
    top: 0;
    border-bottom: solid 1px #484848;
}

header h1 span {
    display: block;
}

section {
    padding: 50px 0;
    border-top: solid 1px #484848;
}

footer {
    border-top: solid 1px #484848;
    padding: 30px 0;
    font-size: 10pt;
}

/* navbar */
.navbar-container {
    width: 100%;
    height: 40px;
    line-height: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.navbar-container h2 {
    font-size: 16px;
}

.navbar-container a {
    color: #fff;
}

.navbar-container ul {
    display: flex;
    justify-content: space-between;
}

.navbar-container ul li {
    list-style: none;
}

/* presentation */
#presentation {
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#presentation .presentation-item {
    width: 39%;
}

#presentation .presentation-item h1 span{
    display: block;
}

#presentation .presentation-item img {
    width: 100%;
    border-radius: 20px;
}

/* career */
#career {
    text-indent: 20px;
}

/* Projects */
.project {
    margin: 1rem 0;
}

.project ul {
    margin-top: 0.3rem;
    padding: 0 1rem;
}

.project li {
    list-style: none;
}

.project {
    margin: 1rem 0;
}

/* responsive */
@media (max-width:440px) {

    #presentation {
        flex-direction: column;
    }

    #presentation .presentation-item {
        width: 100%;
    }

}