/* reset from original theme */
* {
    color: #fff;
    background-color: #0a0a0a;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}

a {
    color: #D3E97A;
    text-decoration: none;
    transition: 0.5ms;
}

a:hover {
    font-weight: bold;
}

h1 {
    font-size: 26px;
}

p {
    color: #c7c7c7;
    margin-bottom: 1rem;
}

header {
    padding: 30px 20px;
}

header h1 span {
    display: block;
}

header img {
    border-radius: 20px;
    margin: 10px auto;
}

main {
    padding: 0 20px;
}

section {
    padding: 50px 0;
    border-top: solid 1px #484848;
}

footer {
    border-top: solid 1px #484848;
    padding: 20px;
}

/* navbar */
.navbar-container {
    width: 100%;
    height: 76px;
}

nav {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.navbar-container h2 {
    font-size: 16px;
    height: 16px;
    line-height: 16px;
}

.navbar-container a {
    color: #fff;
}

.navbar-container ul {
    display: flex;
    justify-content: space-between;
}

.navbar-container ul li {
    list-style: none;
    margin: 0 2rem;
}

/* presentation */
#presentation {
    text-indent: 20px;
}

/* Projects */
.project {
    margin: 1rem 0;
}

.project ul {
    margin-top: 0.3rem;
    padding: 0 1rem;
}

.project li {
    list-style: none;
}

.project {
    margin: 1rem 0;
}