<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <!-- main div container -->
    <div class="wrapper">
      <header>
        <div class="navbar-container">
          <nav>
            <h2><a href="{{site.linkedin}}" target="_blank">{{ site.title }}</a></h2>
          </nav>
        </div>
        <h1>Olá, sou <a href="{{site.linkedin}}" target="_blank"> {{ site.title }}.</a></h1>

        <p>
          Engenheiro de software e apaixonado por tecnologia, não só na área de TI.
        </p>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>Este projeto é mantido por <a href="{{ site.github.owner_url }}">{{ site.title }}</a></p>
        <p>Veja este projeto do Github Pages em <a href="{{ site.github.repository_url }}">{{ site.github.repository_nwo }}</a></p>
        {% endif %}
        <p>
          {{ site.github }}
        </p>
        <p>{{site}}</p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
