<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <!-- main div container -->
    <div class="wrapper">
      <header>
        <div class="navbar-container">
          <nav>
            <h2><a href="{{site.linkedin}}" target="_blank">{{ site.title }}</a></h2>
            <ul id="navigation-link-list">
              <li><a href="#">Sobre mim</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <main>
        <section id="presentation">
          <div class="presentation-item">
            <h1>Olá, sou <span>{{ site.title }}.</span></h1>

            <p>
              Engenheiro de software e apaixonado por tecnologia, não só na área de TI.
            </p>
          </div>
          <div class="presentation-item">
            {% if site.logo %}
              <img src="{{site.logo | relative_url}}" alt="Logo" />
            {% endif %}

            <p>{{ site.description | default: site.github.project_tagline }}</p>

            {% if site.show_downloads %}
            <ul class="downloads">
              <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
            </ul>
            {% endif %}
          </div>
        </section>
        <section id="career">
          <div class="career-item">
            <h2>Minha carreira</h2>
          </div>
          <div class="career-item">
            <p>Sou formado em Análise e Desenvolvimento de Sistemas, tenho especialização em ciência de dados, tenho mais de 5 anos de experiência em desenvolvimento de sistemas.</p>
            <p>Comecei na área de desenvolvimento em 2015 como estagiário na empresa Connectuse onde fui desenvolvedor PL/SQL utilizando a plataforma Oracle APEX por 5 anos, me tornando experiente em desenvolvimento, manipulação, manutenção de objetos de banco de dados, e em desenvolvimento de sistemas.</p>
            <p>No final de 2020 decidi que deveria ampliar meus conhecimentos para outras tecnologias e iniciei um novo ciclo como fullstack no desenvolvimento de aplicações web, API's e objetos de banco de dados (Procedures, Functions, Packages, etc) utilizando C# .NET como back end e banco de dados Oracle (PL/SQL).</p>
            <p>Atualmente sou engenheiro de software back end onde atuo com API's de microsserviços em diversas tecnologias como Java, Kotlin, Grails, Go, e participo de mesas de definição de system design, arquitetura e funcionamento de softwares. Também faço parte de turnos de plantão e monitoramento de aplicações de alta disponibilidade.</p>
            <p>Meu interesse por tecnologia vem desde cedo, sendo assim muitas vezes nas horas vagas também me dedico a aprender, sempre que possível, outras tecnologias como Python, C++, Javascript, scripts automatizados (RPA), automação de testes web / QA com Selenium e até mesmo estudo design e desenvolvimento de games, que vão desde a modelagem 3D com Blender3d ao uso de game engines como Unity3D e Unreal engine.</p>
            <p>Como disse, também sou especializado em ciência de dados que envolve coleta e análise de dados, treinamento de modelos preditivos, machine learning, engenharia de dados e programação voltada para análise e interpretação de dados.</p>
          </div>
        </section>
        <section id="projects">
          <div id="projects-header">
            <h2>Projetos / repósitorios que desenvolvi em meu github</h2>
          </div>
          <div id="projects-list">
            <!-- projects stack and list -->
            <div class="stack">
              <h3>Back-end Python</h3>
              <div class="project">
                <div class="project-item img-container">
                  <!-- project image here-->
                   <img src="" alt="API RESTful em Python utilizando Flask e persistêcia dos dados MongoDB (CRUD)">
                </div>
                <div class="project-item">
                  <!-- project description and links here-->
                  <div class="project-description">
                   <h4>API RESTful em Python utilizando Flask e persistêcia dos dados MongoDB (CRUD)</h4>
                   <p></p>
                  </div>
                  <div class="project-links">
                    <a href="https://gustavo-candido-silva.github.io/Python-RESTful-API-using-Flask-and-MongoDB/" target="_blank">
                      Ver no github <i class="fa-brands fa-github"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- projects list -->
            <div class="stack">
              <h3>Back-end .NET</h3>
              <div class="project">
                <div class="project-item img-container">
                  <!-- project image here-->
                   <img src="" alt="API documentada em .NET Core MVC">
                </div>
                <div class="project-item">
                  <!-- project description and links here-->
                  <div class="project-description">
                    <h4>API documentada em .NET Core MVC</h4>
                    <p></p>
                  </div>
                  <div class="project-links">
                      <a href="https://github.com/gustavo-candido-silva/API-documentada-em-.NET-Core-MVC" target="_blank">
                        Ver no github <i class="fa-brands fa-github"></i>
                      </a>
                  </div>
                </div>
              </div>
              <div class="project">
                <div class="project-item img-container">
                  <!-- project image here-->
                  <img src="" alt="Aplicação web com API em ASP.NET MVC - Curso: “Desenvolvimento de aplicações com .NET” da Digital Innovation One">
                </div>
                <div class="project-item">
                  <!-- project description and links here-->
                  <div class="project-description">
                    <h4>Aplicação web com API em ASP.NET MVC - Curso: “Desenvolvimento de aplicações com .NET” da Digital Innovation One</h4>
                    <p></p>
                  </div>
                  <div class="project-links">
                      <a href="https://gustavo-candido-silva.github.io/Exemplo-ASP.NET-MVC-em-C---Web-API-s-e-Testes/" target="_blank">
                        Ver no github <i class="fa-brands fa-github"></i>
                      </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- projects list -->
            <div class="stack">
              <h3>Testes Automatizados / QA</h3>
              <div class="project">
                <div class="project-item img-container">
                  <!-- project image here-->
                   <img src="" alt="Teste automatizado em Java de aplicação web utilizando Cucumber (BDD), jUnit e Selenium">
                </div>
                <div class="project-item">
                  <!-- project description and links here-->
                  <div class="project-description">
                   <h4>Teste automatizado em Java de aplicação web utilizando Cucumber (BDD), jUnit e Selenium</h4>
                   <p></p>
                  </div>
                  <div class="project-links">
                    <a href="https://github.com/gustavo-candido-silva/INM-PHPTRAVEL-WEB" target="_blank">
                      Ver no github <i class="fa-brands fa-github"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="project">
                <div class="project-item img-container">
                  <!-- project image here-->
                   <img src="" alt="Teste automatizado em Java de API Rest">
                </div>
                <div class="project-item">
                  <!-- project description and links here-->
                  <div class="project-description">
                   <h4>Teste automatizado em Java de API Rest</h4>
                   <p></p>
                  </div>
                  <div class="project-links">
                    <a href="https://github.com/gustavo-candido-silva/INM-REQRES-API" target="_blank">
                      Ver no github <i class="fa-brands fa-github"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- projects list -->
            <div class="stack">
              <h3>Desenvolvimento FullStack</h3>
              <div class="project">
                <div class="project-item img-container">
                  <!-- project image here-->
                   <img src="" alt="Login e consulta de Cep com Front-End em Angular e Back-end em .NET Core">
                </div>
                <div class="project-item">
                  <!-- project description and links here-->
                  <div class="project-description">
                   <h4>Login e consulta de Cep com Front-End em Angular e Back-end em .NET Core</h4>
                   <p></p>
                  </div>
                   <div class="project-links">
                      <a href="https://gustavo-candido-silva.github.io/ConsultaCep-Angular-e-.NET-Core/" target="_blank">
                        Ver no github <i class="fa-brands fa-github"></i>
                      </a>
                   </div>
                </div>
              </div>
            </div>
            <!-- projects list -->
            <div class="stack">
              <!-- projects list -->
              <h3>Desenvolvimento Front-End</h3>
              <div class="project">
                <div class="project-item img-container">
                  <!-- project image here-->
                   <img src="" alt="Meu portfólio feito com Github pages (Esta Página)">
                </div>
                <div class="project-item">
                  <!-- project description and links here-->
                   <div class="project-description">
                    <h4>Meu portfólio feito com Github pages (Esta Página)</h4>
                    <p></p>
                   </div>
                   <div class="project-links">
                      <a href="https://github.com/gustavo-candido-silva/Portfolio" target="_blank">
                        Ver no github <i class="fa-brands fa-github"></i>
                      </a>
                   </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer>
        {% if site.github.is_project_page %}
        <p>Este projeto é mantido por <a href="{{ site.github.owner_url }}">{{ site.title }}</a></p>
        <p>Veja este projeto do Github Pages em <a href="{{ site.github.repository_url }}">{{ site.github.repository_nwo }}</a></p>
        {% endif %}
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
